<div class="locations-grid">
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div class="cell large-4 medium-6 small-10">
				{% if section.settings.title != '' %}
					<div class="h1 text-center">{{ section.settings.title }}</h1>
				{% endif %}			
			</div>
		</div>
		<div class="grid-x grid-padding-x">
		{% for block in section.blocks %}
			<div class="cell medium-6 large-3">
				<div class="locations-grid__loc">
					<div class="hover-reveal">
						<img src="{{ block.settings.image | img_url: 'master' }}" alt="" />
						<div class="title-overlay">
							<div class="flex-container align-middle align-center"><a href="#"><strong>View store details</strong></a></div>
						</div>			
					</div>
					<h4>{{ block.settings.title }}</h4>
					<span>{{ block.settings.hours }}</span>					
				</div>
			</div>
		{% endfor %}
		</div>
		{% if section.settings.button != '' %}
			<a class="button-alt" href="{{ section.settings.button_url }}">{{ section.settings.button }}</a>
		{% endif %}	
	</div>
</div>

{% schema %}
	{
		"name": "Locations",
		"max_blocks": 4,
		"blocks": [
			{
				"type": "image",
				"name": "Location",
				"settings": [
					{
						"id": "image",
						"type": "image_picker",
						"label": "Image"
					},		
					{
						"id": "title",
						"type": "text",
						"label": "Title"
					},
					{
						"id": "hours",
						"type": "textarea",
						"label": "Hours"
					}
				]				
			}
		],
		"settings": [		
			{
				"id": "title",
				"type": "text",
				"label": "Title"
			},
			{
				"id": "button",
				"type": "text",
				"label": "Button"
			},
			{
				"id": "button_url",
				"type": "url",
				"label": "Button URL"
			}
		]		
	}
{% endschema %}