<div class="product-grid">
	<div class="grid-container text-center">
		<div class="grid-x grid-padding-x align-center">
			<div class="cell large-4 medium-6 small-10">
				<div class="dash"></div>
				{% if section.settings.title != '' %}
					<h2>{{ section.settings.title }}</h2>
				{% endif %}
				{% if section.settings.blurb != '' %}
					<p>{{ section.settings.blurb }}</p>
				{% endif %}				
			</div>
		</div>
		<div class="grid-x grid-padding-x">
		{% for block in section.blocks %}
			<div class="cell medium-6 large-3">
				<div class="product-grid__product hover-reveal">
					<img src="{{ block.settings.image | img_url: 'master' }}" alt="" />
					<div class="title-overlay">
						<div class="flex-container align-middle align-center"><a href="#"><strong>View {{ block.settings.title }} Menu</strong></a></div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
		{% if section.settings.button != '' %}
			<a class="button-alt" href="{{ section.settings.button_url }}">{{ section.settings.button }}</a>
		{% endif %}	
	</div>
</div>

{% schema %}
	{
		"name": "Products",
		"max_blocks": 4,
		"blocks": [
			{
				"type": "image",
				"name": "Product",
				"settings": [
					{
						"id": "image",
						"type": "image_picker",
						"label": "Image"
					},		
					{
						"id": "title",
						"type": "text",
						"label": "Title"
					}
				]				
			}
		],
		"settings": [		
			{
				"id": "title",
				"type": "text",
				"label": "Title"
			},
			{
				"id": "blurb",
				"type": "text",
				"label": "Blurb"
			},
			{
				"id": "button",
				"type": "text",
				"label": "Button"
			},
			{
				"id": "button_url",
				"type": "url",
				"label": "Button URL"
			}
		]		
	}
{% endschema %}